.hdingBox {
  width: 65%;
}

.hdingH1 span {
  color: #1159e5;
}

.myparagraph1 p {
  line-height: 30px;
  font-size: 18px;
  text-align: justify;
}

@media (max-width: 768px) {
  .hdingBox {
    width: 100%;
  }

  .myparagraph1 p {
    line-height: 24px;
    font-size: 16px;
    text-align: justify;
  }
}
