.basikPrideSection {
  /* background: #002EAF; */
  background: #dbe3ff;
  padding: 4rem 0;
}

.basikPrideSection h1 span,
.basikPrideSection h4 {
  color: #fff;
}

.basikMain ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.basikMain ul li.imgCont {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 75%;
  margin-right: 2rem;
}

.imgCont img {
  margin-right: 0.5rem !important;
  max-width: 100%;
}

.basikMainfluid {
  width: 100%;
  height: 100%;
  margin-top: 1rem;
}

.basikMain {
  width: 100%;
  height: 100%;
}

.prideNumber {
  margin-bottom: 1rem;
  padding-left: 5rem;
}

.prideNumber h1 {
  font-size: 3.5rem;
  color: #14546b;
  margin-bottom: 0px;
}

.prideNumber h5 {
  font-weight: 500;
}

.basikPrideSection .basikRegisterContinaer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 60%;
  margin: 0rem auto;
  margin-top: 3rem;
}

.basikPrideSection h4.txt01 {
  width: 50%;
}

.basikTabs ul {
  padding: 3px;
  background-color: #fff;
  display: flex;
  border-radius: 70px;
  box-shadow: 0 0 10px 0 rgb(0 0 0 / 5%);
  width: 100%;
  max-width: 392px;
}

.basikTabs ul li {
  width: 50%;
  font-size: 16px;
}

span.qutots_xd {
  font-size: 25px;
  color: #002eaf;
}

.cutomCard {
  background-color: #fff;
  padding: 1rem;
  line-height: 19px;
  position: relative;
  color: #3e495f;
  min-height: 312px;
  /* display      : flex; */
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 5px;
}

.studInformation {
  margin-top: 1rem;
}

.btmSection {
  display: flex;
  margin-top: 2rem;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  min-height: 50px;
  position: absolute;
  bottom: 0.5rem;
  left: 3%;
  right: 1%;
}

.basikTabs ul li button {
  width: 100%;
}

.studentProf {
  margin-left: 5%;
  line-height: normal;
  width: 100%;
}

.studentProf h5 {
  font-family: sans-serif;
  color: #3e495f;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 3px;
}

.studentProf p {
  color: #909090;
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 0;
}

.placeMentStudents {
  background-color: #fff;
  overflow-y: scroll;
  height: 415px;
  width: auto;
  display: flex;
  flex-direction: column !important;
  flex-wrap: inherit;
}

.studentProfile {
  border-radius: 100%;
  text-align: left;
  border: #eee 5px solid !important;
  padding: 0 !important;
}

.videoBox {
  position: relative;
  border: #fff 5px solid;
  background: #fff;
  border-radius: 5px;
}

.playpause {
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 8;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.playpause:after {
  content: "";
  background-image: url(/about/c12.png);
  background-repeat: no-repeat;
  position: absolute;
  width: 60px;
  height: 60px;
  margin: auto;
  background-size: contain;
  background-position: center;
}

.playpause:before {
  content: "";
  position: absolute;
  z-index: 0;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 60px;
  height: 60px;
  background: #8eaddb;
  border-radius: 50%;
  -webkit-animation: pulse-border 1500ms ease-out infinite;
  animation: pulse-border 1500ms ease-out infinite;
}

@keyframes pulse-border {
  0% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }

  100% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}

#video01.videoOpacity {
  display: block;
}

.studentInfoBox {
  display: flex;
  color: #0b4457;
  justify-content: space-between;
  align-items: center;
}

.studentNam {
  width: 70%;
  line-height: 18px;
  font-size: 18px;
  font-weight: 600;
}

.studentimg {
  max-width: 100%;
  height: auto;
}

.card01 {
  position: relative;
}

.HoverImg {
  border-radius: 100px;
  border: #fff 5px solid;
  max-width: 100px;
  display: flex;
  overflow: hidden;
  margin: 1rem auto;
}

.HoverCard {
  opacity: 0;
  position: absolute;
  top: 0;
  background: #002eaf;
  padding: 3rem 1.5rem;
  width: 100%;
  height: 100%;
  transition: 0.5s;
  color: #fff;
  text-align: center;
}

.card01:hover .HoverCard {
  opacity: 1;
}

@media (max-width: 992px) {
  .basikMainfluid {
    width: 95%;
  }

  .prideNumber h1 {
    font-size: 2.5rem;
  }

  .prideNumber span {
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  .prideNumber h1 {
    font-size: 1.5rem;
  }

  .basikMain ul {
    flex-direction: column-reverse;
  }

  .imgCont img:nth-of-type(3) {
    margin-right: 0em;
  }

  .basikMainfluid {
    width: 99%;
  }

  .basikMain ul li {
    width: 100%;
  }

  .basikMain ul li.imgCont {
    justify-content: center;
    width: 30%;
  }

  .prideNumber {
    float: left;
    width: auto;
    margin-right: 2rem;
    padding-left: 2rem;
  }

  .basikPrideSection .basikRegisterContinaer {
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    text-align: center;
  }

  .basikPrideSection h4.txt01 {
    width: 90%;
    margin-bottom: 2rem;
  }

  .trainedBox {
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: space-around;
  }
}
