.FesutresL li {
  list-style: circle;
  font-size: 17px;
  line-height: 30px;
}

.imgSeracr {
  border-radius: 6px;
}

.PointerSec {
  margin-top: 3rem;
}

@media (max-width: 768px) {
  .FesutresL li {
    margin: 0 0 0 13px;
  }
}
