.logoContainers {
  padding: 4rem 0;
  background: url(/talk-to-our-expert-counsellor-background.png);
}

.logoContainers h1 {
  color: #fff;
  text-align: center;
}

.logoContainers .logList {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.logoContainers .logList li {
  width: 15%;
  background: #fff;
  padding: 0.5rem;
  margin: 0.5rem;
}

.logoContainers .logList li img {
  max-width: 100%;
}
