.contactContainer {
  padding: 3.5rem 0 2.5rem 0;
  font-family: arial;
  margin-top: 82px;
  background: #eee;
}

.contactContainer01 {
  padding: 4rem 0;
}

.contactContainer01 svg {
  margin-right: 1rem;
  margin-top: 0.3rem;
}

.contLeft {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 60%;
  margin: 0 auto;
}

.groupCont {
  display: flex;
  align-items: flex-start;
  font-size: 17px;
  margin-bottom: 21px;
}

h3.visit_to_us {
  margin-top: 36px;
}

.formContainer {
  background-color: rgb(255 255 255);
  padding: 1.5rem;
  color: #555;
  border: #ddd 1px solid;
  box-shadow: 0 0 64px rgb(0 0 0 / 20%);
  border-radius: 20px;
  padding: 21px;
}

.contactBtn {
  border-radius: 4px !important;
  font-weight: normal !important;
  width: 100%;
  background: #002eaf;
}

.contactContainer01 h3 {
  font-weight: 600;
  margin-bottom: 21px;
}

.contactContainer01 b {
  font-weight: 500;
}

.contactContainer01 span {
  color: #1159e5;
}

@media (max-width: 992px) {
  .contLeft {
    padding-right: 0;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 90%;
    margin: 0 auto;
  }

  .contactContainer {
    margin-top: 4rem;
    margin-bottom: 20px;
  }

  .contactContainer01 {
    padding: 0;
  }
}
