.buttonStyle {
  border: #002eaf 1px solid;
  padding: 0.5rem 2rem;
  border-radius: 5rem;
  background: #002eaf;
  color: #fff;
  transition: 0.5s;
  font-size: 18px;
  font-weight: 500;
}

.buttonStyle:hover {
  color: #fff;
  background-color: #002eaf;
  border-color: #002eaf;
}

@media (max-width: 992px) {
  .buttonStyle {
    padding: 0.5rem;
    font-size: 14px;
    font-weight: 600;
  }
}
