.banner_pad {
  padding-top: 83px;
  position   : relative;
}

.slide {
  position       : relative;
  display        : flex;
  justify-content: center;
  align-items    : center;
  z-index        : 99;
}

.text {
  position   : absolute;
  top        : 50%;
  transform  : translateY(-50%);
  font-size  : 30px;
  color      : #fff;
  width      : 75%;
  font-weight: 700;
  left       : 30px;
  z-index    : 9;
}

.texts {
  position : absolute;
  top      : 38%;
  left     : 30px;
  transform: translateY(-50%);
  font-size: 35px;
  color    : #fff;
  width    : 100%;
  z-index  : 9;
}

.sliderContainer {
  position: relative;
}

/* .bannerFormContainer {
  top                  : 50%;
  transform            : translateY(-50%);
  height               : 100%;
  display              : flex;
  align-items          : center;
  padding              : 19px;
  z-index              : 1;
  position             : absolute;
  right                : 0;
  max-width            : 100%;
  border-end-end-radius: 0;
  background           : #000000b0;
  box-shadow           : #333 0px 0px 3px;
  border-radius        : 11px;
} */
.bannerFormContainer {
  top                  : 50%;
  transform            : translateY(-50%);
  height               : 100%;
  display              : flex;
  align-items          : center;
  padding              : 19px;
  z-index              : 1;
  position             : absolute;
  right                : 0;
  max-width            : 100%;
  border-end-end-radius: 0;
  background           : #13499f;
  box-shadow           : #333 0px 0px 3px;
  border-radius        : 11px;
}

label.form-label {
  color: #fff;
}

/* .slide::before {
  content         : "";
  background-color: rgb(0 0 0 / 16%);
  width           : 100%;
  height          : 100%;
  position        : absolute;
  left            : 0;
  right           : 0;
  z-index         : 9;
} */

.form-label {
  margin-bottom: 0;
  font-size    : 12px;
  color        : #fff;
}

.form-control {
  font-size    : 12px;
  border-radius: 4px;
  line-height  : 2.3;
  box-shadow   : none !important;
}


.BannerFormmain {
  display        : flex;
  align-items    : center;
  justify-content: center;
}

.BannerFormmaints {
  display    : flex;
  align-items: center;
}

.BannerFormmaints button {
  width: 100%;
}

@media (max-width: 768px) {
  .banner_pad {
    padding-top: 73px;
  }

  .bannerFormContainer {
    position     : relative;
    right        : 0;
    bottom       : 0;
    padding      : 0px;
    z-index      : 0;
    height       : unset;
    width        : 100%;
    box-shadow   : #333 0px 0px 3px;
    border-radius: 0;
  }

  .forumsubt {
    padding      : 21px;
    border-radius: 5px;
  }

  .text {
    top        : 66%;
    font-size  : 15px;
    width      : 79%;
    font-weight: 400;
    line-height: 18px;
  }

  .texts {
    top      : 51%;
    font-size: 30px !important;
  }
}

@media (min-width: 1500px) and (max-width: 4000px) {
  .bannerFormContainer {
    top        : 50%;
    transform  : translateY(-50%);
    height     : 100%;
    width      : 35%;
    max-width  : 40%;
    display    : flex;
    align-items: center;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .bannerFormContainer {
    position     : inherit;
    width        : 100%;
    margin       : 0;
    z-index      : 0;
    height       : unset;
    border-radius: 0;
  }

  .texts {
    top      : 50%;
    font-size: 28px;
  }

  .text {
    top        : 67%;
    font-size  : 28px;
    width      : 100%;
    line-height: 44px;
  }

  .col-lg-6.Mapheit {
    width: 100% !important;
  }

  .BannerFormmain {
    display: block !important;
  }

  .forumsubt {
    padding      : 21px;
    width        : 100%;
    border-radius: 5px;
  }
}

@media (min-width: 200px) and (max-width: 655px) {
  .forumsubt {
    width: 100%;
  }

  .texts {
    top      : 28%;
    font-size: 28px;
  }

  .text {
    top        : 67%;
    font-size  : 16px;
    width      : 90%;
    font-weight: 400;
    line-height: 26px;
  }

  .bannerFormContainer {
    top      : unset;
    transform: unset;
  }

  .BannerFormmain {
    display: block !important;
  }
}

@media (min-width: 1025px) and (max-width: 1200px) {
  .bannerFormContainer {
    position: absolute;
    width   : 34%;
    height  : 100%;
    margin  : 0px 0 0 0;
    padding : 0;
    z-index : 1;
    right   : 0;
    bottom  : 0px;
  }

  .text {
    font-size: 17px !important;
    width    : 85%;
    font-size: 28px;
  }

  .BannerFormmain {
    display: flex !important;
  }

  .texts {
    font-size: 15px;
  }
}

@media (min-width: 1400px) and (max-width: 1500px) {
  .bannerFormContainer {
    width: 34%;
  }
}

@media (min-width: 1200px) and (max-width: 1400px) {
  .bannerFormContainer {
    top        : 50%;
    transform  : translateY(-50%);
    display    : flex;
    align-items: center;
    width      : 36%;
  }

  .text {
    font-size: 18px;
  }


}

@media (min-width: 650px) and (max-width: 760px) {
  .BannerFormmain {
    display: block;
  }

  .bannerFormContainer {
    top      : unset;
    transform: unset;
  }
}

@media (min-width: 800px) and (max-width: 900px) {
  .bannerFormContainer {
    top      : unset;
    transform: unset;
  }
}

@media (min-width: 600px) and (max-width: 1024px) {
  .bannerFormContainer {
    top      : unset;
    transform: unset;
  }
}

@media (min-width: 800px) and (max-width: 1300px) {
  .text {
    position : absolute;
    top      : 64%;
    font-size: 22px;
    width    : 80%;
  }

  .texts {
    top      : 50%;
    font-size: 35px;
  }
}