.cardContainer {
  position: relative;
  transition: transform 0.9s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.hoverContainer {
  visibility: hidden;
  padding: 1rem;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #002eaf;
  color: white;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hoverContainer h5 {
  margin-bottom: 0.3rem;
  font-weight: 500;
}

.hoverContainer .title {
  line-height: 22px;
}

.cardContainer:hover {
  transform: rotateY(180deg);
}

.cardContainer:hover .hoverContainer {
  visibility: visible;
}

.facultySection span {
  color: #002eaf;
}

.staticBaner {
  text-align: center;
}

@media (max-width: 500px) {
  .hoverContainer .title {
    line-height: 18px;
    font-size: 14px;
  }
}
