.bannerSection {
  width: 100%;
  padding: 5rem 2rem 4rem 2rem;
  background: url(/banner/placement/student.jpg);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  flex-direction: column;
  text-align: center;
}

.bannerSection h1 {
  font-family: arial;
  text-transform: uppercase;
  font-size: 50px;
  font-weight: 700;
  letter-spacing: 2px;
  margin-bottom: 0;
  margin-top: 1rem;
}

.bannerSection svg {
  margin-bottom: 1rem;
}

.bannerSection p {
  font-size: 27px;
  color: #fff;
  font-weight: 100;
  margin-bottom: 0;
}

.section01 {
  padding: 2rem 1rem;
}

.CardContainer h1 {
  font-family: sans-serif;
  font-weight: 600;
}

.CardContainer h6 {
  margin-bottom: 5px;
  color: #7f6969;
  font-weight: 600;
}

.cardTitl {
  font-weight: 600;
  margin-bottom: 5px;
  color: #4c3b3b;
  font-size: 16px;
}

.vidoIcon {
  position: absolute;
  top: 2rem;
  right: 18%;
}

.df {
  position: fixed;
  z-index: 10;
  width: 100%;
  max-height: 380px;
  height: 100%;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.df::before {
  content: "";
  width: 100%;
  height: 100rem;
  position: fixed;
  left: 0%;
  right: 0rem;
  top: 0rem;
  background: rgba(0, 0, 0, 0.5);
  bottom: 0;
  z-index: -1;
  margin: 0 auto;
}

.videoOpacity {
  display: block;
}

.inrSection {
  padding: 8px;
  background: #fff;
  width: 50%;
  margin: 0 auto;
  position: relative;
}

.videoTopSection {
  display: none;
}

.topSction {
  position: relative;
}

@media (max-width: 992px) {
  .mobileMbtm {
    margin-bottom: 1.5rem;
  }
}
