/*** Header Css Start *****/

.menuHeader {
  position  : fixed;
  width     : 100%;
  height    : auto;
  top       : 0;
  z-index   : 5;
  box-shadow: #333 0px 0px 3px;
}

.mainHeader {
  font-size       : 16px;
  height          : 83px;
  background-color: #fff;
  position        : relative;
  z-index         : 10;
}

.menuName a {
  font-weight: 500;
  padding    : 0 1rem;
  transition : 0.5s;
  line-height: normal;
  height     : 33px;
  display    : flex;
  align-items: center;
  position   : relative;
  font-size  : 15px;
  color      : #000;

}

/* .menuName a:hover {
  border-bottom: #002eaf 2px solid;
  color: #002eaf !important;
  transition: all 0.3s ease;
} */


/* Specific styles for non-active links */
.nonActive {
  color: #000 !important;
}

/* Specific styles for active links */
.active {
  border       : #002eaf 1px solid;
  border-radius: 5px;
  background   : #002eaf;
  color        : #fff !important;
}

.navRight a.logBtn {
  margin-right : 0.5rem;
  padding      : 0.5rem 1rem !important;
  background   : #002eaf;
  color        : #fff !important;
  box-shadow   : 0 6px 10px rgb(51 54 47 / 5%), 0 10px 16px rgb(51 51 50 / 6%);
  border       : #002eaf 1px solid;
  border-radius: 4px;
  font-weight  : 500;
}

.navRight a.logBtn:first-child {
  background      : none;
  color           : #fff;
  background-color: #002eaf !important;
  border          : #002eaf 0px solid;
  box-shadow      : none;
  padding-left    : 6px !important;
  padding-right   : 0 !important;
  margin-right    : 2rem;
  font-weight     : 600;
  width           : 158px;
}

.navRight a.logBtn:last-child {
  margin-right: 0;
}

.navRight a.logBtn:hover {
  background-color: #1a4b94 !important;
  transition      : 0.5s;
}

.navRight a.exploreBtn {
  color           : #fff !important;
  background-color: #1970fa;
  border-radius   : 2rem;
  width           : 10rem;
  text-align      : center;
  font-weight     : bold;
}

.navRight a.exploreBtn:hover {
  background-color: #000;
  transition      : 0.5s;
}

.moblieNav {
  padding-right: 1rem;
}

.menuName .dropDonwItem {
  margin       : 0;
  border-radius: 0;
  font-weight  : 400;
  border-bottom: 1px solid #cccccc52;
  padding      : 1.3rem 1.5rem;
}

.menuName .dropDonwItem a {
  font-weight: normal;
  margin     : 0;
  font-size  : 14px;
}

.menuName .dropDonwItem:hover,
.menuName .dropDonwItem a:hover {
  border: none;
}

.termCondition {
  display        : flex;
  justify-content: center;
  flex-wrap      : wrap;
  margin-top     : 1rem;
}

.termCondition a {
  color      : #002eaf;
  margin-left: 3px;
}

.term03 {
  margin: 0 0.5rem;
}

/*** Header Css End *****/

/*** Sticky Menu Css Start *****/

header.stickyMenuContainer {
  z-index         : 5;
  width           : 100%;
  position        : fixed;
  transition      : 0.3s linear;
  background-color: #ffffff;
  border-bottom   : 1px solid rgba(0, 0, 0, 0.1);
  box-shadow      : 0 2px 5px -1px rgba(0, 0, 0, 0.08);
}

/*** Sticky Menu Css End *****/

@media (max-width: 992px) {
  .mainHeader {
    font-size    : 14px;
    height       : auto;
    border-bottom: #333 1px solid;
  }

  .mhide {
    display: none;
  }

  .navRight {
    margin-left: 1rem;
    width      : 11rem;
    margin-top : 0.7rem;
  }

  .navRight a.logBtn {
    padding-top: 0;
  }

  .menuName a:hover {
    border-bottom: #002eaf 0px solid;
    color        : #002eaf;
  }

  .menuName a {
    padding: 0 1rem !important;
  }

  header.stickyMenuContainer {
    overflow-x: scroll;
  }
}

@media (max-width: 500px) {
  .menuName a {
    padding: 0 0.5rem !important;
  }

  .menuName a {
    font-size: 14px;
  }


  .navRight {
    margin-left: 0.5rem;
  }

  .navRight {
    margin-top: 0rem;
  }
}