.bannerContainer {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.bannerContainer .bannerTextCont {
  bottom: 7rem;
  left: 5%;
  text-align: left;
  padding: 2rem 0 0 0;
  width: 60%;
  z-index: 2;
  font-family: "Open Sans", sans-serif;
}

.banImage {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  object-fit: cover;
}

.banerBtnCont {
  font-size: 16px;
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.knowMoreBtn {
  border: #002eaf 2px solid;
  color: #002eaf;
  font-weight: bold;
  border-radius: 30px;
  padding: 0.5rem 1rem;
  width: 160px;
  text-align: center;
}

.knowMoreBtn:hover {
  border: rgb(255, 255, 255) 2px solid;
  background-color: #000;
  transition: 0.5s;
  color: #fff;
}

.bannerTextCont h1 {
  font-size: 2.5rem;
  font-weight: bold;
  width: 75%;
  color: #fff;
}

.bannerTextCont h4 {
  margin: 1.5rem 0;
}

.bannerTextCont h5 {
  margin-bottom: 0.5rem;
}

.bannerTextCont p {
  width: 50%;
}

.progressBarContainer {
  position: absolute;
  bottom: 1rem;
  width: 90%;
  margin: auto;
  left: 5%;
  right: 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
}

.progressBarContainer div {
  display: block;
  width: 33%;
  padding: 0 10px;
  color: white;
}

.progressBarContainer div .progressBar {
  width: 100%;
  height: 3px;
  background-color: rgb(145, 144, 144);
  display: block;
  position: relative;
}

.progressBarContainer div .progressBar .inProgress {
  background-color: #002eaf;
  width: 0%;
  height: 0px;
  padding: 0;
}

.progressBarContainer .progAnimation {
  width: 100%;
  height: 3px;
  background: #fff;
  position: absolute;
  left: 0;
  animation: mymove 7s;
  transition: ease-in-out 0.3s;
}

@keyframes mymove {
  from {
    width: 0px;
  }
  to {
    width: 100%;
  }
}

.progressBarContainer p {
  margin-top: 5px;
  line-height: normal;
  color: #fff;
  min-height: 3rem;
  margin-bottom: 0.5rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

.bannerContainer button[data-bs-target] {
  width: 31%;
  height: 6rem;
  margin: 0;
  padding: 0;
  margin-right: 2%;
  margin-top: -45px;
}

.bannerContainer button[data-bs-target]:last-child {
  margin-right: 0;
}

.BannerTextContainer {
  position: absolute;
  color: #fff;
  padding: 0 8rem;
  width: 47%;
  font-size: 20px;
  bottom: 15rem;
}

.BanerTextBox {
  position: absolute;
  color: #fff;
  padding: 0 9.1%;
  width: 50%;
  font-size: 20px;
  bottom: 0;
  top: 0;
  height: 150px;
  margin: auto;
}

.BannerTextContainer p {
  margin-bottom: 0;
}

.enrolBtn {
  border: #002eaf 2px solid;
  padding: 0.4rem 1.5rem;
  border-radius: 5rem;
  color: #fff;
  background-color: #002eaf;
  transition: 0.5s;
}

.enrolBtn:hover {
  color: #002eaf;
  background-color: #fff;
  border-color: #002eaf;
}

@media (max-width: 1300px) {
  .bannerTextCont h1 {
    font-size: 2.5rem;
    width: 80%;
    line-height: 50px;
  }
}

@media (max-width: 1150px) {
  .bannerTextCont h1 {
    font-size: 2.5rem;
    width: 100%;
  }
  .progressBarContainer {
    line-height: normal;
    width: 94%;
    left: 3%;
    right: 3%;
  }
  .bannerTextCont h4 {
    margin: 0.8rem 0;
  }
  .bannerContainer .bannerTextCont {
    bottom: 8rem;
    padding: 0;
    width: 94%;
    left: 3%;
    right: 3%;
    margin: 0 auto;
  }
  .enrolBtn {
    font-size: 14px;
  }
  .BannerTextContainer {
    width: 100%;
    font-size: 16px;
    bottom: 40rem;
    text-align: left;
    padding-left: 2rem;
  }
}

@media (max-width: 992px) {
  .bannerTextCont h1 {
    font-size: 1.5rem;
    width: 90%;
  }
  .bannerTextCont h4 {
    margin: 0.5rem 0;
  }
  .bannerContainer .bannerTextCont {
    bottom: 3rem;
  }
  .enrolBtn {
    font-size: 14px;
  }
  .progressBarContainer {
    display: none;
  }
  .bannerContainer button[data-bs-target] {
    height: 3px;
    border-radius: 0px !important;
  }
  .BannerTextContainer {
    width: 100%;
    padding-left: 10%;
  }
  .BanerTextBox {
    width: 70%;
  }
}

@media (max-width: 768px) {
  .bannerTextCont h1 {
    font-size: 1rem;
    width: 80%;
  }
  .BannerTextContainer {
    width: 100%;
    padding-left: 10%;
    padding-right: 5%;
    font-size: 14px;
    bottom: 40rem;
  }
  .BanerTextBox {
    height: 90px;
    width: 80%;
  }
}

@media (max-width: 600px) {
  .enrolBtn {
    font-size: 13px;
    padding: 0.3rem 1rem;
  }
  .bannerTextCont h1,
  .bannerTextCont h4,
  .bannerTextCont h5 {
    font-size: 1rem;
    line-height: normal;
  }
  .bannerContainer .bannerTextCont {
    bottom: 3rem;
  }
  .banerBtnCont {
    font-size: 13px;
    margin-top: 0.5rem;
  }
  .BanerTextBox {
    width: 100%;
    padding: 0 3%;
    font-size: 12px;
    height: 70px;
  }
  .BanerTextBox h1 {
    margin-bottom: 0rem;
  }
}

@media (max-width: 550px) {
  .enrolBtn {
    font-size: 12px;
    padding: 0.2rem 1rem;
  }
  .BannerTextContainer {
    width: 100%;
    padding-left: 2%;
    padding-right: 2%;
    font-size: 13px;
  }
  .bannerTextCont h1,
  .bannerTextCont h4,
  .bannerTextCont h5 {
    font-size: 12px;
    line-height: normal;
    font-weight: 400;
    margin-bottom: 0.2rem;
  }
  .bannerTextCont h1 {
    font-weight: 500;
    width: 90%;
  }
  .bannerContainer .bannerTextCont {
    left: 5%;
  }
}

@media (max-width: 400px) {
  .enrolBtn {
    font-size: 10px;
    padding: 0rem 0.5rem;
  }
  .BannerTextContainer {
    width: 100%;
    padding-left: 1%;
    padding-right: 1%;
    font-size: 12px;
  }
}
