.navstabs {
  justify-content: center;
  border: none;
}

.maniherodiv {
  margin-bottom: 3rem;
}
.contactContainer {
  width: 100%;
  padding-top: 68px;
}

@media (min-width: 200px) and (max-width: 655px) {
  .contactContainer {
    width: 100%;
    padding-top: 55px;
  }
}
